
.headings{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;

}
.loginBox-Container{
    text-align: center;
}

button{
    margin-left: 5px;
}
.loginBox{
align-items: center;
}
.logo{
    padding:2%;
}
mat-form-field{
    box-sizing: inherit;
    padding: 8px 0 0;
    float:left;
}
